@font-face {
  font-family: "Kanit";
  src: url("/src/assets/fonts/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/src/assets/fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/src/assets/fonts/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@import "tailwindcss";
@import "tw-animate-css";

:root {
  --accent: #f106ce;
  --black: #292929;
  --white: #fffff1;
}

@theme {
  --font-kanit: Kanit, "sans-serif";
}

* {
  font-family: Kanit;
}

body {
  /* background-color: var(--black); */
  background: #BDD5EA;
  background: linear-gradient(180deg,rgb(89, 106, 121) 0%, rgba(0, 0, 0, 1) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient() */
  color: var(--white);
  margin: 2rem;
}

.white-text {
  color: var(--white);
}
.black-text {
  color: var(--black);
}
.accent-text {
  color: var(--accent);
}

.background-accent {
  background-color: var(--accent);
  box-shadow: 5px 5px 10px rgba(36, 36, 36, 0.5);
}

.background-accent:hover {
  box-shadow: 2px 2px 5px rgba(36, 36, 36, 0.5);
}

.background-white {
  background-color: var(--white);
}

h1 {
  line-height: 92%;
  color: var(--white);
  font-weight: 600;
  font-size: 75px;
  text-transform: uppercase;
}

text-center {
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 92%;
  text-transform: uppercase;
}
h3 {
  font-weight: 100;
  font-size: 23px;
  line-height: 40px;
}

h5 {
  font-weight: 600;
  font-size: 23px;
  line-height: 40px;
  text-transform: uppercase;
}
p {
  font-weight: 100;
  font-size: 15px;
  line-height: 92%;
}