@font-face{
  font-family: Kanit;
  src: url("../src/assets/fonts/Kanit-Regular.ttf");
}
@import "tailwindcss";
@import "tw-animate-css";

@theme{
  --font-kanit: Kanit, "sans-serif"
}

*{
  font-family: Kanit;
  background-color: #343435;
}